<!-- templates/home.html -->
{% extends 'base.html' %}
 
{% block content %}
  {% for post in object_list %}
  <div class="card mt-3">
    <h5 class="card-header">{{ post.title }}</h5>
    <div class="card-body">
      <p class="card-text"> <small class="text-muted">@{{ post.author }}</small></p>
      <p class="card-text">{{ post.text|slice:":250" }}</p>
      <footer class="blockquote-footer">Создано: {{ post.date|date:'Y-m-d H:i' }}</footer>
      <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Подробнее</a>
      <button type="button" class="btn btn-outline-primary like" name="{{ post.pk }}">
        Like <span class="badge bg-secondary">{{ post.likes.all|length }}</span>
      </button>
      <span class="card-text text-muted">Комментарии({{ post.comments.all|length }})</span>
    </div>
  </div>
  {% endfor %}
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script>
    $('.like').click(function(event){
      $.ajax({
        type: "POST",
        url: "{% url 'like' %}",
        data: {'post_id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
          $( event.target ).children().text(response.likes_count);
        },
      }); 
    })
  </script>
{% endblock content %}
